.navbar-toggler-icon {
  background: red;
}

// .me-2.form-control {
//   border-radius: 50px;
// }
.navbar-brand {
  font-weight: 700px;
  font-size: text-sm;
  color: white;
  border-radius: 50px;
}
