.carousel-caption {
  position: absolute;
  top: 35%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
}

.grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 95% !important;
}

.m-auto {
  margin-bottom: 50px !important;
}

.text-bg {
  background-color: aqua;
}

.img-categories {
  border-radius: 30px;
}

.ban {
  display: block;
  margin-left: auto;
  margin-right: auto;
  // width: 50%;
}
.cap {
  margin-top: 15px;
  max-height: 50%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  visibility: hidden;
}

.slick-list {
  margin-bottom: 20px;
}
